*{
    font-family: 'Baloo 2', cursive;
}
html,h1,h2,h3,h4,h5,h6{
    color: #5c5b5b;
}
body{
    background: #f6f6f6;
}
a{
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header{
    background: #404348;
    height: 70px;

}
header *{
    color: #74a1ec;
}
header h1{
    margin-top: 13px;
}
header h1 a:hover{
    color: #fcff69;
}
header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
header ul li{
    float: left;
    position: relative;
}
header ul li a{
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #f6f6f6;
    padding: 22px;
}
header ul li a:hover{
    color: #fcff69;
}
