*{
    font-family: 'Baloo 2', cursive;
}
html,h1,h2,h3,h4,h5,h6{
    color: #5c5b5b;
}
body{
    background-color: #5c5c5b;!important;
}
a{
    text-decoration: none;
    color: inherit;
}
input{
    padding: 10px 12px;
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #e7e7c2;
    line-height: 1.5rem;
    color: #404348;
    font-size: 1rem;
}

/* HEADER */
header{
    background: #404348;
    height: 70px;

}
header *{
    color: #74a1ec;
}
header h1{
    margin-top: 13px;
}
header h1 a:hover{
    color: #fcff69;
}
header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
header ul li{
    float: left;
    position: relative;
}
header ul li a{
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: #f6f6f6;
    padding: 30px;
}
header ul li a:hover{
    background: #74a1ec;
    color: #fcff69;
    transition: 0.5s;
}
header ul li ul{
    position: absolute;
    top: 70px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 111;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li{
    width: 100%;
}
header ul li ul li a{
    padding: 25px;
    background: #404348;
    color: #74a1ec;
}

/*
    SLIDER
*/
.reinvent{
    color: #e7e7c2;
}
.reinvent:hover{
    color: #fff4ba;
    text-decoration: none;
}
.slider .item {
    height: 50vh;
    position: relative;
}
.slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .item .cover {
    padding: 75px 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
}
.slider .item .cover .header-content {
    position: relative;
    padding: 56px;
    overflow: hidden;
}
.slider .item .cover .header-content .line {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border: 9px solid #fff;
    -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
    clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}
.slider .item .cover .header-content h2 {
    font-weight: 300;
    font-size: 35px;
    color: #fff;
}
.slider .item .cover .header-content h1 {
    font-size: 56px;
    font-weight: 600;
    margin: 5px 0 20px;
    word-spacing: 3px;
    color: #fff;
}
.slider .item .cover .header-content h4 {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
}
.slider .owl-item.active h1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.3s;
}
.slider .owl-item.active h2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.3s;
}
.slider .owl-item.active h4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation-delay: 0.3s;
}
.slider .owl-item.active .line {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
    animation-delay: 0.3s;
}
.slider .owl-nav .owl-prev {
    position: absolute;
    left: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0;
}
.slider .owl-nav .owl-prev span {
    font-size: 1.6875rem;
    color: #fff;
}
.slider .owl-nav .owl-prev:focus {
    outline: 0;
}
.slider .owl-nav .owl-prev:hover {
    background: #000 !important;
}
.slider .owl-nav .owl-next {
    position: absolute;
    right: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0;
}
.slider .owl-nav .owl-next span {
    font-size: 1.6875rem;
    color: #fff;
}
.slider .owl-nav .owl-next:focus {
    outline: 0;
}
.slider .owl-nav .owl-next:hover {
    background: #000 !important;
}
.slider:hover .owl-prev {
    left: 0px;
    opacity: 1;
}
.slider:hover .owl-next {
    right: 0px;
    opacity: 1;
}


/*
    MAIN
*/
.main-content h2{
    margin: 30px 0;
}
.main-content .post{
    margin-bottom: 3em;
}
.main-content .post_text{
    background: #e7e7c2;
    padding: 8px;
    border-right: 3px;
}
.main-content .post_text h3{
    margin: 14px 0;
}
.main-content .post_text h3 a:hover{
    text-decoration: #756abe wavy underline;
    color: #3f498c;
}
.main-content .post_text i{
    margin-left: 10px;
}
.search{
    margin-top: 96px;
}
.sidebar .section{
    background: #e7e7c2;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
}
.sidebar .topics ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #53a28f;
}
.sidebar .topics ul li a{
    display: block;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #53a28f;
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 500;
    color: #404348;
    font-size: 1.2em;
}
.sidebar .topics ul li a:hover{
    padding-left: 10px;
    transition: all 0.3s;
}

/*
    FOOTER
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');


.search-text {
    margin-top: 50px;
    background-color: #272d33;
    padding-top: 60px;
    padding-bottom: 60px;
}

.search-text .input-search {
    height: 45px;
    width: 40%;
    padding-left: 20px;
    color: #333;
}

.search-text .btn-search {
    background: #da3e44;
    border: none;
    color: #FFF;
    height: 45px;
    width: 80px;
}

.search-text h4 {
    color: #FFF;
    font-weight: 700;
}

footer {
    background-color: #33383c;
    padding: 30px 0px;
}

.logo {
    color: #FFF;
    font-weight: 700;
    font-size: 30px;
}

.address span,
.menu span {
    color: #FFF;
    font-weight: bold;
    border-bottom: 1px solid #c7c7c7;
    padding: 10px 0px;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}

.address li a,
.menu li a {
    color: #FFF;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 14px;
}

.address li,
.menu li {
    margin: 20px 0px;
    list-style: none;
}

.address li a:hover,
.menu li a:hover {
    color: #da3e44;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.address .fa {
    color: #da3e44;
    margin-right: 10px;
    font-size: 18px;
}









